<!doctype html>
<html ng-app="App">
  <head>
    <meta charset="utf-8">
    <title>Clinical Trial Chart</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <!-- dependencies -->
    <script src="libs/jquery.js"></script>
    <script src="libs/angular.js"></script>
    <script src="libs/angular-route.js"></script>
    <script src="libs/angular-xml.min.js"></script>
    <script src="libs/ui-bootstrap-tpls-0.10.0.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <link rel="shortcut icon" href="/favicon.ico" type="image/icon">
    <link rel="icon" href="/favicon.ico" type="image/icon">


    <!-- Bootstrap -->
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
    rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"
    rel="stylesheet">


    <!-- scripts -->
    <script src='javascripts/angapp.js'></script>
    <script src='javascripts/AppController.js'></script>
    <script src='javascripts/physData.js'></script>
    <script src='javascripts/xml2json.js'></script>
    <script src='javascripts/barChart1.directive.js'></script>
    <script src='javascripts/barChart2.directive.js'></script>


  <body ng-controller="homeCTRL">
    <div class="row">
      <div class="col-md-6 header">Clinical Trial Chart</div> 
      <div class="col-md-6">
        <div class="form-group">
          <form ng-submit="submitSearch(selected)">
            <input type="text" ng-model="selected" placeholder="ex. 'Stroke AND Brain'" class="form-control"><button ng-click="submitSearch(selected)" type = "button" class="btn-large btn searchButton">SEARCH</button>
          </form>
        </div>
      </div>
    </div>
 
    <div class="barChart1" data="dataResults" on-click="chart1OnClick(item)" ></div>
    <button ng-click="prevPage()" type = "button" class="btn-small btn arrowButton" ng-show="range[0] !== 1"><</button>results {{range[0] * 20 - 19}} - {{range[4] * 20}} of {{searchTotal}} <button ng-click="nextPage()" type = "button" class="btn-small btn arrowButton" ng-show="range[4] < searchTotal">></button>

    <button ng-click="hideChart()" type = "button" class="btn-small btn closeButton" ng-show="showClickData === true">X</button>
    <div class="barChart2" data="chart2Data" ng-show="showClickData === true" on-click="chart2OnClick(item)"></div>
    <button ng-click="hideGrid()" type = "button" class="btn-small btn closeButton" ng-show= "showGrid === true">X</button>
    <div class="titleRow" ng-show= "showGrid === true">Studies for {{currCondition}} with status of {{currStatus}} </div>
    <table class="table" ng-show= "showGrid === true">
      <thead> 
        <tr>

          <th href = "" ng-click="predicate='title'; reverse=!reverse">Title<span class="glyphicon glyphicon-sort"></span></th>
          <th>URL</th>
          <th>Conditions</th>
          <th>Status</th>
          <th href = "" ng-click="predicate='score'; reverse=!reverse">Score<span class="glyphicon glyphicon-sort"></span></a></th>
          <th href = "" ng-click="predicate='last_changed'; reverse=!reverse">Last Changed<span class="glyphicon glyphicon-sort"></span></a></th>
        </tr>
      </thead>
      <tbody >

        <tr class="articleEntry" ng-repeat='article in gridData | filter:q:strict | orderBy:predicate:reverse' >
          <td class="articleInfo">
            <p class="title">
              <a href="" tooltip="{{article.title}}">{{ article.title | limitTo: 60}}<span ng-if="article.title.length > 60" >...</span></a>
            </p>
          </td>
          <td class="articleInfo">
            <a ng-href= "{{article.url}}"<p class="title">{{article.url}}</p>
          </td>
          <td class="articleInfo">
            <p class="title">{{article.condition_summary}}</p>
          </td>
          <td class="articleInfo">
            <p class="title">{{article.status.__text}}</p>
          </td>
          <td class="articleInfo">
            <p class="title">{{article.score}}</p>
          </td>
          <td class="articleInfo">
            <p class="title">{{article.last_changed}}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>