body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.form-control {
  width: 30% !important;
}
.btn-success {
  background-color: gray !important;
  border-color: #E6E6E6 !important;

}
thead{
    background-color: #E6E6E6 !important;
      font-size: 1em;
  font-weight: bold;
  color: #000;
}
.titleRow{
  font-size: 1.5em;
  color: #000;
}
th{
  font-size: 1.2em;
  font-weight: bold;
  color: #000;
}

th:hover{
  text-decoration: underline;
  cursor: pointer;
}
.title{
  text-align: left !important;
  font-size: 1em;
}

