body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('https://www.jpmorgan.com/treasury/demo/hsa/chasefaqmobile/images/Sliced_Images/Background.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  color: #00B7FF;
}
h1{
  color: #F7FAFF !important;
}
.header{
  color: #F7FAFF;
  display: inline;
  font-size: 3em;
}
.form-group{
  /*width: 30% !important;*/
  display: inline !important;
  float: right;
}
input{
  width: 100% !important;
  display: inline !important;
}
.searchButton{
  float: left;
  display: inline !important;
}
.btn{
  color:white !important;
  background-color: rgba(0,0,0,0.1) !important;
}
thead{
  background-color: #E6E6E6 !important;
  font-size: 1em;
  font-weight: bold;
  color: #000;
}
.titleRow{
  font-size: 1.5em;
  color: #000;
  background-color: rgba(0,0,0,0.1) !important;
}
th{
  font-size: 1.2em;
  font-weight: bold;
  color: #000;
}

th:hover{
  text-decoration: underline;
  cursor: pointer;
}
td{
  background-color: white;
  opacity: 50%;
  color: black;
}
.title{
  text-align: left !important;
  font-size: 1em;
}
.arrowButton{
  float: left;
}
.closeButton{
  float: right;
}
.tooltip.bottom .tooltip-arrow{
    top:0;
    left:50%;
    margin-left:-5px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-bottom:5px solid red !important;
    color: yellow !important;
}
.tooltip-inner{
    color:green !important;
    background-color: yellow !important;
    font-size:16px !important;

}